body{
  width: 100%;
  background-color: white;
}
/* .app{
  padding: 20px;
} */

.mainContainer{
  display: flex;
  gap:20px;
  padding-top: 50px;
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 2200px;
  margin: 0 auto;
}

.pending{
  width: 100%;
  /* height: 450px; */
  background-color: aliceblue;
  flex-direction: column;
}
.completed{
  width: 100%;
  /* height: 450px; */
  background-color: rgb(211, 217, 221);
}

.todoList{
  list-style: none;
  padding: 0;
}

.todoItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.btnSubmit{
  background-color: #13f1ab;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  /* cursor: pointer; */
}

.btnUndo{
  background-color: #d29700;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  /* cursor: pointer; */
}

.completedDate{
  color: #00ce9b;
  font-size: 0.8rem;
  margin: 5px 0 0 0;
}
